[Desktop Entry]
Type=Application
Name=Ofimatica (dotfiles)
Comment=Primera suite ofimatica disponible
Exec=@HOME@/.config/kde/scripts/launch_first_available.sh "wps" "onlyoffice-desktopeditors" "libreoffice"
Icon=libreoffice-startcenter
Terminal=false
Categories=Utility;
X-KDE-Shortcuts=Ctrl+Meta+Shift+Alt+W
